<?php
defined('BASEPATH') or exit('No direct script access allowed');

class Migration_Fix_password_field_width extends CI_Migration
{

  public function up()
  {
    $this->dbforge->modify_column('users', array(
      'passhash' => array('type' => 'CHAR', 'constraint' => 128),
    ));

  }

  public function down()
  {
    $this->dbforge->modify_column('users', array(
      'passhash' => array('type' => 'CHAR', 'constraint' => 60),
    ));
  }
}